body {
  margin: 0;
  padding: 0;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  color: white;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
li {
  list-style: none;
  padding: none;
}

button,
input,
button:focus,
input:focus {
  outline: none;
}
