.twitter_feed {
  h2 {
    text-align: center;
    font-weight: 300;
    margin-top: 40px;
    animation: pulsate 4s infinite;
    animation-delay: 2s;
  }
}

@keyframes pulsate {
  0% {
    opacity: 1;
    transform: perspective(500px) translateZ(0px);
  }
  50% {
    opacity: 0.4;
    transform: perspective(500px) translateZ(-25px);
  }
  100% {
    opacity: 1;
    transform: perspective(500px) translateZ(0px);
  }
}
